.container-fluid.container-fluid-helper
  .row
    =image_tag 'aboutheader', class: 'jumbo-image'
    .centered
      #text-box
        .home-text#home-text-short
          Welcome to Oliver Heart
        .home-text#home-text-long
          Founded in 2014, Oliver Heart offers giftboxes that are curated to meet the client's every satisfaction. Ranging from pre-made boxes to custom one-off boxes, we have an offering for every occasion.